<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} !^/phpmyadmin/ [NC]

    RewriteCond %{REQUEST_URI} !^/public/assets
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*\.(css|js|png|jpg|gif|svg))$ public/$1 [L]
    RewriteRule ^(.*)$ public/index.php [L]
</IfModule>
